.pico-content {
	overflow: auto !important;
	height: 80% !important;
	width: 480px !important;
}

#stucco {
  display: block !important;
	font-family: "Trebuchet MS" !important;
	color: black !important;
  font-size: 1em !important;
}

#stucco h1 {
  font-size: 2em !important;
}

#stucco h3 {
  font-size: 1em !important;
	padding-top: 0px !important;
}

#stucco label, div.label {
	line-height:150% !important;
	font-weight:bold !important;
}

#stucco .formSection {
	margin-top: 15px !important;
}

#stucco .label:after, label:not(.optional):after { 
	content: ' *' !important;
	color: red !important;
}
