node_modules
npm-debug.log
*.DS_Store
appendonly.aof
dump.rdb
*.swp

analysis/data/*
!analysis/data/readme.md
analysis/results/*
!analysis/results/readme.md
analysis/*.Rhistory
analysis/*.RData
analysis/*.r.Rout
