@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic);

* {
  color: #333;
  font-family: "PT Sans", sans-serif;
}

body {
  margin: 1em auto 4em auto;
  width: 960px;
}

#experimentr {
  margin: 4em auto 1em auto;
  width: 720px;
}

#control {
  margin-top: 1em;
}

#next-button {
  float: right;
}

.placeholder {
  color: steelblue;
  font-weight: bold;
}
